@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

@layer base{
    li{
        @apply px-4;
        @apply cursor-pointer;
        
    }
}
.contents-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.contents-div:hover{
    background-image: linear-gradient(to right,
    rgba(122, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8))
    !important;

}
